
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ForgetPasswordDto 

@section Scripts
    {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}

 <form method="post">

            <div class="title">Şifrenizi Sıfırlamak İçin Mail Adresini Girin Ardından Gönder Butonuna Tıklayın</div>
            <div class="alert alert-danger" asp-validation-summary="ModelOnly" role="alert"></div>
            <div class="input-box">
                <input type="email" placeholder="Email Giriniz..." asp-for="Email" class="form-control">
                <span class="text-danger" asp-validation-for="Email"></span>
                <div class="underline"></div>
            </div>

            <br />
                <button type="submit" class="btn btn-primary">Gönder</button>
        </form>

