
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ResetPasswordDto
@section Scripts
    {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}
<div asp-validation-summary=ModelOnly class="alert alert-danger" role="alert">
</div>
<form class="row g-3" asp-controller="Login" asp-action="ResetPassword" method="post">
    <div class="col-md-12">
        <label for="Password" class="form-label" asp-for="Password"></label>
        <input asp-for="Password" class="form-control">
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>
    <div class="col-md-12">
        <label for="PasswordConfirm" class="form-label" asp-for="PasswordConfirm"></label>
        <input asp-for="PasswordConfirm" class="form-control">
        <span class="text-danger" asp-validation-for="PasswordConfirm"></span>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Güncelle</button>
    </div>
</form>

