
@{
    ViewData["Title"] = "RoleList";
    Layout = "~/Areas/Shared/_Layout.cshtml";
}
@model RoleArea
<h1>RoleList</h1>

<a class="btn btn-info" asp-area="Admin" asp-controller="Role" asp-action="AddRole">Rol Ekle</a>